body {
	background-image: 'assets/images/TGbackground.jpg';
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.jumbotron {
	text-align: center;
	height: 100%;

}

.answer {
	background-color: #8ec2e6;
	border: solid #050383 2px;
	visibility: hidden;
}

#reset {
	visibility: hidden;
}